[
  {
    "name": "2F",
    "connectorType": "TCP",
    "tcpHost": "192.168.0.1",
    "unitId": 1,
    "fc": 3,
    "unitid": 1,
    "address": 20,
    "quantity": 32
  },
  {
    "name": "2F-1",
    "connectorType": "TCP",
    "tcpHost": "192.168.0.2",
    "unitId": 1,
    "fc": 3,
    "unitid": 1,
    "address": 20,
    "quantity": 32
  }
]